- var person = {'name': 'John', 'age': 22}

- 
    var jobList = [
        {'title': 'Collection Administrative Clerk', 'company': 'Winton Limited', 'postTime': '6 mins', 'location': 'Mong Kok', 'bulletOne': 'Provide back-office support to Branches', 'bulletTwo': 'Prepare relevant credit administration report', 'bulletThree': 'Year-end double-pay salary, Medical benefits'}, 
        {'title': 'Administrative Assistant (Bookkeeping required)', 'company': 'Charlotte Frank Limited', 'postTime': '10 mins', 'location': 'Admiralty', 'bulletOne': 'Luxury Brand is searching administrative assistant', 'bulletTwo': 'Degree holder with minimum of 2 years experience', 'bulletThree': 'Written and spoken English, Cantonese, Mandarin'}, 
        {'title': 'Receptionist / Administration Assistant', 'company': 'Silver Base International Development Co Ltd', 'postTime': '12 mins', 'location': 'Tsim Sha Tsui', 'bulletOne': 'Degree or above', 'bulletTwo': 'Able to handle multi-tasks', 'bulletThree': 'Mature, self-motivated, independent'}]