- var n = 0
- var hkmap = "https://mingho138.github.io/map/index.html"

//- data contains person and jobList
//- include data.pug
//- include https://raw.githubusercontent.com/MingHo138/helloworld/master/data.pug

html
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-130573774-1')
        script.
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-130573774-1');
        // Google analytics
        script(async='', src='https://www.google-analytics.com/analytics.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-130573774-1', 'auto');
            ga('send', 'pageview');

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        meta(name="viewport" content="width=device-width, initial-scale=1")    
    body
        .container.mt-3.mb-3
            h1 Code Playground
            hr
            h3 One Discovery Flow
            ul
                li
                    a(href="/discovery/html/srp-preview-container.html") Search Result Page (Container)
                li
                    a(href="/discovery/html/srp-preview.html") Search Result Page (Fluid)
                li
                    a(href="/discovery/html/jobdetail.html") Job Detail Page
                li
                    a(href="/discovery/html/homepage.html") Homepage

            h3 Fun Projects
            ul
                li
                    a(href="https://codepen.io/mrcow/full/YvgwBP/") Celebrity Detection
                li
                    a(href="https://codepen.io/mrcow/full/mxELVB") Job interview chatbot
                li
                    a(href="https://codepen.io/mrcow/full/vdwZOL") Video profile
                li
                    a(href="#") Salary Trend
                li
                    a(href=hkmap) Hong Kong Map
