- var n = 0

//- data contains person and jobList
include data.pug
//- include https://raw.githubusercontent.com/MingHo138/helloworld/master/data.pug

html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    body
        .container
            h1 This is my github page
            h3 Getting data by including files
            each job in jobList
                .job-card #{job.title}, #{job.company}
            while n <= 3
                p This is content block #{n++}
