// Global site tag (gtag.js) - Google Analytics
mixin google-analytics()
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-121554321-2')
    script.
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-121554321-2');