$bg-brand: #0E2956;
$bg-grey: #EEEEEE;
$grey-border: #ccc;
$grey-bg: #eee;
$hover-bg: #e3eff4;
$active-bg: #496798;
$brand-cta: #FF8700;
$base-grid: 4px;
$highlight-bg: #E0F0FA;
$blue-link: #0f2c55;

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli';
}

.bg-input {
  background: $bg-brand;
}
.joblisting {
  background: $bg-grey;
  margin-top: -15px;
}
.list-card {
  background: white;
  position: relative;
  transition: background .3s;
  &.highlight {
    background: $highlight-bg;
  }
  &:hover {
    background: darken($highlight-bg, 3%);
    cursor: pointer;
  }
  &.active {
    // box-shadow: inset ($base-grid*1) 0px 0px 0px $bg-brand;
    background: $active-bg;
    color: white;
    a { color: white }
  }
}
.logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.modal-lg {
  max-width: 85vw;
}
.link-block {
  display: block;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.bg-grey {
  background: $grey-bg;
}
.bg-white {
  background: white;
}
.preview-action-bar {
  position: sticky; 
  left: 0; 
  right: 0; 
  top: 0; 
  z-index: 10; 
  border-bottom: $grey-border 1px solid;
  padding: 10px 20px;
  background: white;
}
.preview-panel {
  // max-width: 1000px; 
  margin: 0 auto;
}
.btn-primary {
  background: $brand-cta;
  border-color: $brand-cta;
  &:hover {
    background: darken($brand-cta, 10%);
    border-color: darken($brand-cta, 10%);
  }
}

#joblist-container {
  width:440px; 
  overflow: scroll;
  &.full-width {
    width: 100%;
  }
}
.bg-banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  filter: blur($base-grid*2);
  opacity: 0.5;
}
.display-banner {
  position: absolute;
  z-index: 5;
  top: 0;
  left: calc(50% - 294.5px);
}
.text-link {
  color: $blue-link;
}