$bg-brand: #0E2956;
$bg-grey: #EEEEEE;
$grey-border: #ccc;
$grey-bg: #eee;
$hover-bg: #EEF8FC;
$active-bg: #DDF1FA;
$brand-cta: #FF8700;
$base-grid: 4px;
$highlight-bg: #E0F0FA;
$blue-link: #0f2c55;
$blue-border: #94C9E0;
$blue-bg: #EEF8FC;
$grey-4: #cccccc;
$grey-2: #666666;
$grey-6: #f8f8fa;
$blue-2: #298EB9;

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli';
}

.bg-input {
  background: $bg-brand;
}
.bg-grey {
  background-color: $bg-grey;
}
.joblisting {
  background: $bg-grey;
  margin-top: -15px;
}
.list-card {
  background: white;
  position: relative;
  transition: background .3s;
  &.highlight {
    background: $highlight-bg;
  }
  &:hover {
    background: $hover-bg;
    cursor: pointer;
  }
  &.active {
    // box-shadow: inset ($base-grid*1) 0px 0px 0px $bg-brand;
    background: $active-bg;
    // color: white;
    // a { color: white }
  }
}
.list-card-inner {
  // background: white;
  border: $blue-border 1px solid;
}


.logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.modal-lg {
  max-width: 85vw;
}
.link-block {
  display: block;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.bg-grey {
  background: $grey-bg;
}
.bg-white {
  background: white;
}
.preview-action-bar {
  position: sticky; 
  left: 0; 
  right: 0; 
  top: 0; 
  z-index: 10; 
  border-bottom: $grey-border 1px solid;
  padding: 10px 20px;
  background: white;
}
.preview-panel {
  // max-width: 1000px; 
  margin: 0 auto;
}
.btn-primary {
  background: $brand-cta;
  border-color: $brand-cta;
  &:hover {
    background: darken($brand-cta, 10%);
    border-color: darken($brand-cta, 10%);
  }
}

#joblist-container {
  width:440px; 
  overflow: scroll;
  &.full-width {
    width: 100%;
  }
}
.bg-banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  filter: blur($base-grid*2);
  opacity: 0.5;
}
.display-banner {
  position: absolute;
  z-index: 5;
  top: 0;
  left: calc(50% - 294.5px);
}
.text-link {
  color: $blue-link;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  background: #fff;
  border-top: $grey-border 1px solid;
}
.intercom-launcher {
  position: fixed;
  right: $base-grid * 5;
  bottom: $base-grid * 5;
  background: $blue-link;
  border-radius: 50%;
  color: white;
  padding: $base-grid * 4;
  z-index: 10;
  transition: background .3s;
  &:hover {
    cursor: pointer;
    background: lighten($blue-link, 10%);
  }
}

.jdp-action-bar {
  position: sticky;
  bottom: -1px;
  left: 0;
  right: 0;
  padding: $base-grid * 2;
  background: #ffffff;
  box-shadow: $grey-4 0 -1px 5px;
  transition: all .3s ease-out;
  &.action-hide {
    bottom: -55px;
    box-shadow: none;
  }
}
.jdp-header {
  position: sticky;
  // position: fixed;
  // left: 0;
  // right: 0;
  top: -1px;
  padding: $base-grid*3;
  background: $grey-6;
  box-shadow: $grey-4 0 1px 5px;
  z-index: 10;
  transition: top .4s ease-out;
  transition-delay: .5s;
  &.header-hide {
    top: -46px;
    box-shadow: none;
  }
}
.smooth-scroll {
  scroll-behavior: smooth;
}
.flex-align-vertical {
  align-items: center; 
  justify-content: center;
}
.header-logo-bar {
  background: white;
}
.btn-bookmark {
  color: $grey-4;
  transition: color .3s ease;
  &:hover {
    cursor: pointer;
    color: darken($grey-4, 10%)
  }
  &.active {
    color: $blue-2;
  }
}

.jdp-logo {
  width: 120px; 
  position: absolute; 
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 5;
  box-shadow: $grey-4 0 1px 5px;
}