- var games = "PUBG"

- var user = {'name': 'John Doe', 'age': 32, 'email': 'john@email.com'}

- 
  var character = [
    {'name': 'Doomfist', 'type': 'offense'}, 
    {'name': 'Zarya', 'type': 'tank'}, 
    {'name': 'Mercy', 'type': 'support'}
  ]