include data/data.pug
include component/header.pug
include component/google-analytics.pug

mixin linkitem(name, link)
  li
    a(href=link) !{name}

html
  +header()
  body
    .container.mt-3.mb-3
      h1 One discovery flow
      ul
        +linkitem('Homepage', 'homepage.html')
        +linkitem('Search result page (container)', 'srp-preview-container.html')
        +linkitem('Search result page (preview)', 'srp-preview.html')
        +linkitem('Search result page (2 column)', 'srp-preview-2col.html')
        +linkitem('Job detail age', 'jobdetail.html')                
    +google-analytics()