include data/data.pug
include component/header.pug

mixin linkitem(name, link)
  li
    a(href=link) !{name}

html
  +header()
  body
    .container.mt-3.mb-3
      h1 One discovery flow
      ul
        +linkitem('Homepage', 'homepage.html')
        +linkitem('Search result page (preview)', 'srp-preview.html')
        +linkitem('Search result page (overlay)', 'srp-overlay.html')
        +linkitem('Search result page (new tab)', 'srp-newtab.html')
        +linkitem('Job detail age', 'jobdetail.html')                
    