include data/data.pug
include component/header.pug

html
  +header()
  body
    .container.mt-3.mb-3
      h1 One discovery flow
      .mt-2
        a.btn.btn-block.btn-secondary(href="homepage.html") Homepage
      .mt-2
        a.btn.btn-block.btn-secondary(href="srp.html") Search result page
      .mt-2
        a.btn.btn-block.btn-secondary(href="jobdetail.html") Job detail page