include data/jobdetail.pug
include component/header.pug
include component/preview-elements.pug

html
  head
    +header('Job Detail Page')
  body.bg-grey
    .container.mt-3.mb-3
      +preview(jobdetail[2], 'standalone')