include data/jobdetail.pug
include component/header.pug
include component/preview-elements.pug

html
  head
    +header('Job Detail Page')
  body.bg-grey
    .container
      +preview(jobdetail[0], 'standalone')