include component/header.pug
include component/jobdetail.pug
include component/intercom.pug
include component/logo-jobsdb.pug
include component/preview-elements.pug
include data/jobdetail.pug

- var expireDate = Math.floor(Math.random()*30 + 1)
- var postTime = Math.floor(Math.random()*60 + 1)
- var navItem = ['My jobsDB', 'Resources', 'Career Insights']

html
  head
    +header("Search Result Page")
  body
    .d-flex.flex-column(style="max-height: 100vh;")
      +searchInput()
      .d-flex

        //- job listing
        .bg-info(style="width:440px; overflow: scroll")
          .joblisting.pb-5
            .mt-3
              .p-2 1-15 of 58584 jobs
              each jobad in jobdetail
                +jobcard(jobad)

        //- preview panel
        div#preview-container(style="flex:1; overflow: scroll; position: relative")
          .preview-action-bar
            .row
              .col
                button.btn.btn-primary Apply
                a.btn.btn-link(href="#") View in new tab
              .col.text-right
                button.btn.btn-link Close
          .p-3.bg-grey
            each jobad in jobdetail
              +preview(jobad, 'standalone')
    +hideAllAd()