html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style.
            #map {
                height: 100vh;
                width: 100vw; 
                z-index: 1;
            }
            #content {
                z-index: 2;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                background: white;
            }
        title Hong Kong Map
    body
        //- #content
            .container.pt-3.pb-3
                h1 Hong Kong Map
        #map
        script.
            // Initialize and add the map
            function initMap() {
                // The location of hk
                var hk = {lat: 22.366, lng: 114.148};
                var beaches = [
                    {
                        "name": "大浪灣",
                        "area": "南區",
                        "lat": 22.2453604,
                        "lng": 114.2501946
                    },
                    {
                        "name": "舂坎角",
                        "area": "南區",
                        "lat": 22.2180362,
                        "lng": 114.2020656
                    },
                    {
                        "name": "深水灣",
                        "area": "南區",
                        "lat": 22.245142,
                        "lng": 114.187089
                    },
                    {
                        "name": "夏萍灣",
                        "area": "南區",
                        "lat": 22.2240233,
                        "lng": 114.214881
                    },
                    {
                        "name": "中灣",
                        "area": "南區",
                        "lat": 22.2297387,
                        "lng": 114.1980435
                    }
                ]
                // The map, centered at hk
                var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 11.5, center: hk});
                // The marker, positioned at hk
                var marker_hk = new google.maps.Marker({position: hk, map: map, title: 'HK!'});

                // Info window
                var contentString = '<div><h3>Hello!</h3>This is a content block.</div>'
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                })
                marker_hk.addListener('click', () => { infowindow.open(map, marker_hk) })

                //- Add marker to all beaches
                beaches.forEach( beach => {
                    console.log()
                    var marker = new google.maps.Marker({
                        position: {lat: beach.lat, lng: beach.lng}, 
                        map:map,
                        title: beach.name
                    })
                    var contentString = '<h4>' + beach.name + '</h4>' +
                        '<button class="btn btn-block btn-primary">Click Me</button>'
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    })
                    marker.addListener('click', () => { infowindow.open(map, marker) })
                })
            }

        //- google map api call
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAbRMuhvLGj4H6UG-sZvBVPhJla1_Mg-nc&callback=initMap')

