.bg-input {
  background: #0E2956; }

.joblisting {
  background: #EEEEEE;
  margin-top: -15px; }

.list-card {
  background: white;
  position: relative; }
  .list-card:hover {
    background: #e3eff4;
    cursor: pointer; }

.logo {
  position: absolute;
  right: 30px;
  bottom: 30px; }

.modal-lg {
  max-width: 85vw; }

.link-block {
  display: block;
  color: black; }
  .link-block:hover {
    text-decoration: none;
    color: black; }
